@media (min-width: 1200px) {
    .banner-image{
        height: 100vh;
    }
    .navbar-logo{
        max-width: 150px;
    }
    .container{
        padding-left: 60px !important;
        padding-right: 60px !important;
    }
   
    h1{
        font-size: 45px !important;
    }
    .py-lg-extra {
        padding-top: 4rem !important;
        padding-bottom: 4rem !important;
    }
    
    .ms-lg-extra{
        margin-left: 6rem !important;
        margin-right: 6rem !important;
    }

    .w-lg-23{
        width: 23% !important;
    }

    .sevices-card{
        min-height: 440px;
    }

    .sevices-card p{
        font-size: 16px !important;
    }
}
@media (min-width: 921px ) and (max-width: 1199px) {
    .navbar-logo{
        max-width: 120px !important ;
    }
    .sevices-card{
        min-height: 380px;
    }

}